<div
  class="absolute top-[40%] pl-[80px] max-lg:px-[100px] max-lg:px-[4%] max-lg:py-0 max-md:text-[2.4rem] max-sm:px-[4%] max-sm:py-[2rem]"
>
  <span class="font-medium text-black uppercase drop-shadow-[0_1.2px_2.4px_white] max-md:text-[1.5rem] ">
    {{subtitle}}
  </span>
  <h2
    class="text-white text-[4rem] font-bold mb-4 max-lg:text-[3rem] max-md:text-[2.4rem]"
  >
    {{title}}
  </h2>
  <a
    href="{{link}}"
    class="bg-[#ff2c1f] text-white py-[0.7rem] px-[1.4rem] rounded-[0.5rem] font-normal transition-all duration-300 ease-in-out hover:bg-[#fa1216] max-md:px-[1.2rem] max-md:py-[0.6rem] max-md:text-[0.9rem]"
  >
    Book Now
  </a>
</div>
